<h1>Login Sayfasi </h1>


<div class="container">
  <div class="row">
    <div class="panel panel-info"> 
      <div class="panel-heading">
        <div class="panel-title"> Girls Paneli </div> 
      </div> 
      <div class="panel-body"> 
        <form action="/login" method="POST">
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="username" type="text" class="form-control" name="username" placeholder="Kullanici Adi">
            <input id="password" type="text" class="form-control" name="password">
          </div> 
          
          <input type="submit" class="btn btn-primary" value="Giris">
        
        </form> 
        </div> 
    <div class="panel-footer"> 
      <a href="#" ckass="btn btn-default">KayitOl</a>

    </div> 
    </div> 